{% extends 'dictionary/index.html'%}

{% block content %}
    {% if error %}
    <script>
        alert('{{error}}')
    </script>
    {% endif %}
    {% if success %}
    <script> alert('{{success}}')</script>
    {% endif %}
    <div class="container">
       <h1 class="text-center" style="margin-bottom: 20px">Add word</h1>
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Add" class="btn btn-primary">
        </form>
    </div>

{% endblock %}